:root {
    --blue: #335DFF;
    --grey: #b5b5b5;
    --grey-d-1: #EEE;
    --grey-d-2: #DDD;
    --grey-d-3: #888;
    --white: #FFF;
    --dark: #222;
}


.userChat{
    /*transform: scaleY(-1);*/
    /*overflow: auto;*/
    display: flex;
    flex-direction: column-reverse;
}
.list-messages{
    /*transform: scaleY(-1);*/
    overflow-y: auto;
}
html, body{
    padding: 0;
    margin: 0;
}
.scrollarea{
    display: flex;
    align-items: normal;
}
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
.sidebar-sticky{
    margin-top: 70px;
    position: fixed;

    background-color: white;
    padding: 5px;
}
.messageContainer{
    /*transform: scaleY(-1);*/
}
.chats{
    overflow: auto;
    background-color: #f3f3f3;
    margin-bottom: 80px;
}

.userChatInfo{
    width: 85%;
    border: 2px solid #cbcbcb;
    background-color: #d7d7d7;
    border-radius: 20px;
    padding: 10px ;
    margin: 10px;
    /*transform: scaleY(-1);*/
}
#primaryMenu{
    height: 100vh;
}
.userChatInfoRight{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
/*.userChatInfo .userInfo{*/
/*    width: 100%;*/
/*}*/
.userChatInfo::after {
    content: "";
    clear: both;
    display: table;
}

.chat-input{
    /*height: 20px;*/
    background-color: white;
    outline: none;
    border: none;
    resize: none;
    scrollbar-width: none;
}
.btn-outline-default{

    border-radius: 20px;
}
.btn-outline-default:hover{
    color: white;
    background-color: #0e947a;
}
.send-message{
    overflow: no-content;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}

.userInfo p{
    margin-bottom: 10%;
}

.time-right {
    float: right;
    color: #666666;
}
/*.active{*/
/*    background-color: #0e947a;*/
/*}*/

.fa-check, .fa-times, .already-dealt{
    display: flex;
    align-items: center; /* center content vertically */
    justify-content: center; /* center content horizontally */
}
.already-dealt div{
    font-size: x-large;
    color: grey;
}

.time-left {
    float: left;
    color: #999999;
}

.userChatInfo .username{
    margin-bottom: 1%;
    padding: 0 10px 0 10px;
    font-weight: bolder;
    font-size: x-large;
}

.list-group-item{
    padding: 0 10px;
    margin: 0;
}
.chat-cont{
    padding: 0;
}
.user{
    display: flex;
    align-items: center;
}
.content{
    border-color: #989898;
    margin-top: 5px;
    width: 70%;
}
.message{
    font-size: 16px;
}
.darker {
    border-color: #b0b0b0;
    background-color: #bebebe;
}
.left-icon{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.right{
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.left-img {
    float: left;
    max-width: 40px;
    width: 100%;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.sidebar-nav{
    max-width: 400px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 20px 24px;
    overflow-y: auto;
    /*max-height: 720px;*/
}
.latest-message{
    margin-left: 20px;
}
.list-group-item{
    margin-top: 10px;
}
.latest-message2{
   font-weight: normal;
}
.sidebar{
}
.right-img {
    float: left;
    max-width: 40px;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.current{

}
.list-group-item{
    padding-top:0;
}
.userChatInfo p{
    font-weight: bold;
}

.chatbox-message-dropdown {
    position: relative;
}
.chatbox-message-dropdown-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 50%;
}

.chatbox-message-dropdown-toggle:hover {
    background: var(--grey);
}
.chatbox-message-dropdown-menu {
    list-style: none;
    margin: 0;
    position: absolute;
    top: 100%;
    right: 0;
    background: var(--white);
    padding: 0;
    width: 110px;
    box-shadow: .25rem .25rem 1.5rem rgba(0, 0, 0, .1);
    transform: scale(0);
    transform-origin: top right;
    transition: .2s;
    border-radius: .5rem;
}
.chatbox-message-dropdown-menu.show {
    transform: scale(1);
}
.chatbox-message-dropdown-menu a {
    font-size: .875rem;
    font-weight: 500;
    color: var(--dark);
    text-decoration: none;
    padding: .5rem 1rem;
    display: block;
}
.chatbox-message-dropdown-menu a:hover {
    background: var(--grey);
}
